<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.search">
	<select id="updateUI" resultType="kr.co.domain.BoardVO">
		SELECT * FROM board WHERE bno = #{bno}
	</select>

	


	<sql id="search">
		<if test="searchType == 'writer'.toString() ">
			WHERE LOWER(writer) LIKE '%'||LOWER(#{keyword})||'%'
		</if>
		<if test="searchType == 'title'.toString() ">
			WHERE LOWER(title) LIKE '%'||LOWER(#{keyword})||'%'
		</if>
		<if test="searchType == 'content'.toString() ">
			WHERE LOWER(content) LIKE '%'||LOWER(#{keyword})||'%'
		</if>
	
	</sql>


	<select id="getAmount" resultType="Integer">
		SELECT COUNT(bno) FROM board <include refid="search"></include> 
	</select>
	
	<select id="list" resultType="kr.co.domain.BoardVO">
		SELECT * FROM board <include refid="search"></include> 
		ORDER BY bno DESC
	</select>
	
	<select id="read" resultType="kr.co.domain.BoardVO">
		SELECT * FROM board WHERE bno = #{bno}
	</select>
	
	
</mapper>